header {
    height: calc(100% - 70px);
    box-sizing: border-box;
    position: sticky;
    top: 0;
    left: 0;
    padding: 3rem 0;
}
h1 a {
    font-size: 2rem;
    text-decoration-line: none;
    color: black;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    margin-top: 50px;
}
ul li a {
    font-weight: 700;
    text-decoration-line: none;
    color: black;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
img {
    width: 24px;
    height: 24px;
}
